<%= form_for(@short_url) do |f| %>
  <% if @short_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short_url.errors.count, "error") %> prohibited this short_url from being saved:</h2>

      <ul>
      <% @short_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :full, class: "sr-only" %>
    <%= f.text_field :full, placeholder: "Full URL", class: "form-control" %>
    <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Create Short url</button>
    </span>
  </div>

<% end %>
