<p id="notice"><%= notice %></p>

<h1>Listing Short Urls</h1>

<table>
  <thead>
    <tr>
      <th>Full</th>
      <th>Short</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @short_urls.each do |short_url| %>
      <tr>
        <td><%= short_url.full %></td>
        <td><%= short_url.short %></td>
        <td><%= link_to 'Show', short_url %></td>
        <td><%= link_to 'Edit', edit_short_url_path(short_url) %></td>
        <td><%= link_to 'Destroy', short_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Short url', new_short_url_path %>
